<div class="overflow-hidden content-margin content-padding" style="width: 50%;">
    <div>
        <button type="button" (click)="load()">GET FORM</button>
    </div>
    <form [formGroup]="formGroup1">

        <dynamic-basic-form-control *ngFor="let controlModel of formModel1" class="form-row"
                                    [group]="formGroup1"
                                    [model]="controlModel"
                                    (blur)="onBlur($event)"
                                    (change)="onChange($event)"
                                    (focus)="onFocus($event)"></dynamic-basic-form-control>
    </form>

    <pre>{{formGroup1.value | json}}</pre>


   
   

</div>